sudo: required

services:
  - docker

language: scala

before_script:
  - docker run --rm -d -p="27017:27017" --name=mongo mongo:3.2
  - sbt docker:publishLocal
  - docker run --rm -d --network=host --name=vendor-release sdkman/vendor-release:latest

script:
  - sbt acc:test

after_script:
  - docker rm -f mongo vendor-release

cache:
  directories:
  - "$HOME/.sbt"
  - "$HOME/.ivy2"

# blacklist
branches:
  except:
  - RELEASE

notifications:
  slack: sdkman:QdA1XVUuYDjlYL4Z7gm16OEc
